# Ignore everything
/*
# ~~ Except... ~~
!.gitignore
!.gitmodules

# Window Managers
!qtile/
!awesome/
!spectrwm/

# Some nice programs
!sxhkd/
!rofi/
!alacritty/
!kitty/
!picom/
!qutebrowser/

# Terminal programs
!fish/
!ranger/
!cava/
!htop/

# And files
!starship.toml
