# Ignore everything
/*
# ~~ Except... ~~
!.gitignore
!.gitmodules

# Window Managers
!qtile/
!awesome/
!spectrwm/

# Some nice programs
!sxhkd/ # Key bindings
!rofi/ # App launcher
!alacritty/ # Terminal
!kitty/ #
!picom/ # Compositor
!qutebrowser/ # Browser

# Terminal programs
!fish/ # Shell
!ranger/ # Terminal File Manager
!cava/ # Audio visualizer
!htop/ # Task Manager

# And files
!starship.toml # Prompt

